/* ---- CABECERA ESTILOS */
.App-header {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.header-logo {
  width: 100px; 
  height: auto;
  margin-right: 20px;
}

.App {
  background-color: darkgray;
  color: black;
  height: 100vh;
  padding: 20px;
}


.video-player {
  display: flex;
  justify-content: center; 
  align-items: center;

}
.commands-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background-color: #E0F7FA; /* Fondo azul claro */
}

.commands-table th,
.commands-table td {
  border: 1px solid #B2EBF2; /* Bordes azules claros */
  padding: 8px;
  text-align: left;
}

.commands-table th {
  background-color: #B2EBF2; /* Encabezado de un color azul más oscuro */
}

